---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black  dark:text-white lg:w-1/2">
		<p class="mb-2">
			"As a dedicated student of Software Engineering, I possess a keen understanding of web development and UI/UX design, complemented by a passion for cricket. Balancing the intricacies of code with the agility required on the cricket field, I bring a unique blend of technical expertise and sporting spirit to every project. With a commitment to excellence in both domains, I strive to innovate and deliver impactful solutions, embodying the ethos of teamwork, discipline, and creativity."
		</p>
	</div>
</section>
