---
import { Icon } from 'astro-icon';
import Github from '@astrojs/images/Github.png';
import { Image } from '@astrojs/image/components';
---



<a href="https://www.linkedin.com/in/uthayaa-m-ab8526292/" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:linkedin"
	/></a
>
<a href="https://twitter.com/m_uthayaa" target="_blank" rel="noopener" aria-label="twitter"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:twitter"
	/></a>

